#banner
  .banner_content
    %h1 FileStore
    %p Your documents, Organised, always!
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organise
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mollis lorem in ligula vestibulum laoreet in sed mi. Aliquam pulvinar efficitur hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eu magna in ligula sollicitudin tempus non et diam. Vestibulum vel congue urna. Aliquam rhoncus turpis eget consequat tincidunt. Proin sed fermentum turpis, ac suscipit nisi. Integer fermentum ac lacus a iaculis. Proin elementum mi elit, non gravida nulla tincidunt id. Proin dui velit, dictum eget gravida nec, iaculis non massa. In varius lacus sed nisl condimentum pellentesque vitae sit amet ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse a ipsum ante. Ut tincidunt erat quis felis rutrum, vel ornare leo condimentum. Vestibulum efficitur lectus et fermentum accumsan.

#botton_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
